@import './base.less';
@import '@shared/assets/styles/mixins.less';

#app {
  font-weight: @weight-normal;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: @color-primary;
  transition: @transition-fast;
  padding: @spacing-xs;
}
