@import './base.less';
@import '@shared/assets/styles/mixins.less';

#app {
  font-weight: @weight-normal;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: @color-primary;
  transition: @transition-fast;
  padding: @spacing-xs;
}
