@import './main.less';

@color-background: var(--color-background);
@color-text: var(--color-text);
@color-border: var(--color-text);

@color-primary: #003366;
@color-accent: #00bfa5;
@border-radius-m: 8px;
@border-radius-s: 4px;

@header-height: 64px;
@footer-height: 64px;
@full-height: calc(100dvh - (@header-height + @footer-height));

@text-sm: 14px;
@text-md: 16px;
@text-lg: 20px;
@text-xl: 24px;
@text-2xl: 32px;
@text-3xl: 48px;
@text-4xl: 64px;
@text-base: @text-md;
