@import './tokens.less';

.main-flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-ghost() {
  display: grid;
  place-items: center;
}

.background-and-text() {
  color: @color-text;
  background: @color-background;
  background-color: @color-background;
}

.background-and-text-invert() {
  color: @color-background;
  background: @color-text;
  background-color: @color-text;
}
